@font-face {
    font-family: "MyFont";
    src: url("../src/fonts/Bebas-Neue-master/fonts/BebasNeue\(2018\)ByDhamraType/woff2-cffbased/BebasNeue-Regular.woff2") format('woff2'), url("../src/fonts/Bebas-Neue-master/fonts/BebasNeue\(2018\)ByDhamraType/woff2-cffbased/BebasNeue-Regular.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    background-color: black;
    color: white;
    font-family: "MyFont";
    /* margin:0;
    padding:0; */
    }

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: auto;
    font-size: 1.3rem;
    /* justify-content: space-between; */
    height: 80vh;
}



.restaurant-image {
    /* width: 50vw; */
    height: 50vh;
}

#tabs {
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    width:60%;
}

button {
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition-duration: .45s;
}

button:hover {
    text-decoration: underline;
    background-color: white;
    color: black;

}

/* #footer {
    position: absolute;
    bottom: 10px;
} */